[submodule "libraries/lightweightvk"]
	path = libraries/lightweightvk
	url = https://github.com/wisnunugroho21/lightweightvk.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp.git
